.list-footer {

    li:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    &__link {
        color: var(--color-light-gray);

        &:hover {
            color: var(--color-bright-blue);
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

}



.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .6rem;

    &__icon {
        --icon-color: var(--color-light-gray);

        display: block;
        width: 25px;
        height: 25px;
        padding: 4px;
        border: 1px solid var(--icon-color);
        fill: var(--icon-color);
        border-radius: 50%;

        &:hover {
           --icon-color: var(--color-bright-blue); 
        }
    }
}

@media screen and (min-width: 769px) {
    .social-icons {
        justify-content: flex-start;
    }
}